<section class="fullPost">

    <div class="postTitle">
        drinkName | postTitle
    </div>

    <div class="container">
        <section class="postImg">
            <!-- img src -->
        </section>

        <section class="statList">
            <div class="statKey">PIC | profileName</div>
            <div class="statVal">| *****</div>
            <div class="statKey">LIQOUR TYPE</div>
            <div class="statVal"></div>
            <div class="statKey">BREW/FLAVOR/???</div>
            <div class="statVal"></div>
            <div class="statKey">ORDERED AT</div>
            <div class="statVal"></div>
            <div class="statKey">MADE BY</div>
            <div class="statVal">bartender name</div>
            <div class="statKey">ORDER AGIAN?</div>
            <!-- doers this mean 2 in one night OR get again in gen-->
            <div class="statVal"></div>
        </section>
    </div>

    <div class="tastingNotes">
        <div class="statKey">TASTING NOTES</div>
        <div class="statVal"></div>
    </div>

</section>

<section class="postBody">
    <div class="postTitle">
        drinkName | postTitle
    </div>
    <div class="postedBy">
         
    </div>
    <div class="postTxt">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut la
    </div>
    <!-- <div class="postBtns">cheers & edit btns?</div> -->
</section>