<section class="fullPost">

    <div class="postTitle">
        profile Name
    </div>

    <div class="container">
        <section class="postImg">
            <!-- img src -->
        </section>

        <section class="statList">
            <<div class="statVal">firstName lastName</div>
            <div class="statVal">location</div>
            <div class="statVal">tenured in</div>
            <div class="statKey">Favorite Drink:</div>
            <div class="statVal"></div>
            <div class="statKey">Least Favorite Drink:</div>
            <div class="statVal"></div>
        </section>
    </div>

    <div class="tastingNotes">
        <div class="statKey">About Me</div>
        <div class="statVal">Lorem ipsum oogley boogley</div>
    </div>

</section>