<%- include('/partials/header') %>


<main>
    <div>
        buttons to nav back / edit / interact go here<br>
        make this an if/else?    
    </div>

    <article>

        <section class="fullPost">
<!-- make this an if/else render?-->
            <%- include('/partials/drink-details') %>
        </section>

        <aside class="feed">
<!-- make this an if/else render?-->
            <%- include('/partials/comments') %>
        </aside>

    </article>
</main>

  

<%- include('/partials/footer') %>