<%- include('../partials/head') %>

<nav>
    You must be 21 or older to enter. Everyone will be carded. No exceptions!
</nav>

<main>
    <div class="formContainer">
        <form id="yourID" action="/the-bar" method="POST" autocomplete="off">
            <label>Profile Name:</label>
            <input type="text" name="profileName">

            <label>Full Name:</label>
            <input type="text" name="name">

            <label>Date of Birth:</label>
            <select id="daySelect" name="birthDate">
                <option></option>
            </select>
            <select id="monthSelect" name="birthMonth">
                <option></option>
            </select>
            <select id="yearSelect" name="birthYear">
                <option></option>
            </select>

            <label>Favorite Drink:</label>
            <select id="drinkOpts" name="drinkSelect">
                <option></option>
            </select>

            <label>Least Favorite Drink:</label>
            <input type="text" name="firstName">

            <label>About Me:</label>
            <input type="text" name="firstName">

            <input type="submit" value="Let's open a tab">

        </form>
    </div>

<%- include('../partials/footer') %>