<%- include('../partials/header') %>

<subnav>
    Beer | wine | vodka
</subnav>
<main>
    <div>
        button to create post here
    </div>
    <div class="postFeed">
        <drink>
            <section class="postImg">
                <!-- img src -->
            </section>
            <section class="postBody">
                <div class="postTitle">drinkName | postTitle</div>
                <div class="postedBy">
                    PIC | profileName | *****
                </div>
                <div class="postTxt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut la</div>
                <!-- <div class="postBtns">cheers & edit btns?</div> -->
            </section>
        </drink>
    </div class="feed">

  
<%- include('../partials/footer') %>