<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SipSocial | Login</title>
</head>
<body>
    <div> <!-- large main body / marketing area -->
        <ul>
            <li>post 1</li>
            <li>post 2</li>
            <li>post 3</li>
        </ul>
    </div>

    <div> <!-- login right rail -->
        <div>LOGO GOES HERE</div>
        <div>login block goes here</div>
        <div>micro-footer - about links? txt only?</div>
    </div>
</body>
</html>