<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SipSocial | Login</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=East+Sea+Dokdo&family=Galada&family=Kalam:wght@300;700&family=Montserrat:ital,wght@0,700;1,200;1,400;1,700&display=swap" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <main class="hmpg">
            <div id="mktgSpaceContainer">
                <div id="mktgSpace">
                    <!--FERD-->
                    <drink class="sz-med">
                        <section class="postImg">
                            <img src="https://i.imgur.com/10d9utM.jpeg">
                        </section>
                        <section class="postBody">
                            <div>
                                <h4 class="postTitle">
                                    Meow-zy IPA<br>Purrrr-fect Beer
                                </h4>
                            </div>
                            <div class="postedBy">
                                <img src="https://i.imgur.com/EEd94sN.jpeg" class="pfpSmall"> 
                                <h3 class="pfName"> | Ferdinand Thee Bull | *****</h4>
                            </div>
                            <div class="postTxt userGend">
                                I'm having such a great time on Sips Social! Meow meow meow meow meow meow meow! Meow'nt meow meows!
                            </div>
                        </section>
                    </drink>
                    <!--RAVEN-->
                    <drink class="sz-med">
                        <section class="postImg">
                            <img src="https://i.imgur.com/10d9utM.jpeg">
                        </section>
                        <section class="postBody">
                            <div><h4 class="postTitle">
                                Cat-bernet Raviougn<br> This juise tastes better than my water!
                            </div></h4>
                            <div class="postedBy">
                                <img src="https://i.imgur.com/ke5jlNi.jpeg" class="pfpSmall"> 
                                <h3 class="pfName"> | rAvEnEvErMoR3xxx | ****</h3>
                            </div>
                            <div class="postTxt userGend">
                                This tastes so good! Why won't dad let me MOW MOW MOW MOW MOW *throws up on carpet*
                            </div>
                        </section>
                    </drink>
                    <!--THE PRISIONER-->
                    <drink class="sz-med">
                        <section class="postImg">
                            <img src="https://i.imgur.com/10d9utM.jpeg">
                        </section>
                        <section class="postBody">
                            <div><h4 class="postTitle">
                                Water<br> Don't give your cats alcohol
                            </div></h4>
                            <div class="postedBy">
                                <img src="https://i.imgur.com/gx7WpqV.jpeg" class="pfpSmall"> 
                                <h3 class="pfName"> | AngusQArbuckle | *</h4>
                            </div>
                            <div class="postTxt userGend">
                                We plan to introduce non-Alcoholic cocktails for those who want to choose a sober life, but keep up with all of the fun!
                            </div>
                        </section>
                    </drink>
                </div>
            </div>

            <div id="loginRail"> <!-- login right rail -->
                <div>
                    <img src="https://i.imgur.com/IQMR9BR.png" class="hmpgLogo">
                    <h1 class="appName">Sip Social</h1>
                    <h2 class="appSlogan">Do it for the Sips</h2>
                </div>
                <div>
                    <a href="/auth/google"><img src="https://i.imgur.com/QqBJVLf.png"></a>
                    <p id="about">Lorem ipsum something<br>Will eventually need to give credit for all the pics I'm using</p>
                </div>
            </div>
        </main>
    </body>
</html>

<!--

putting this just in a place for now
https://imgur.com/a/mX8W9lR

DRINK:
https://i.imgur.com/10d9utM.jpeg

-->