body {
  background-image: url('public/images/backgrounds/loginHmpg.jpg');
  font-family: 'Montserrat', 'Helvetica', sans-serif;
}

main.hmpg{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-around;
}

main.hmpg div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#mktgSpace{
  min-width: 50%;
  max-width: 75%;

}

drink {
  background-image: url('public/images/paper.png');
  font-family: 'Courier Prime', Courier, monospace;
  display: flex;
  flex-direction: row;
}

.userGend {
  font-family: 'Kalam', 'Helvetica', sans-serif;
}

drink.sz-med .postImg {
  width: 35%;
}

drink.sz-med .postBody {
  width:60%;
  text-align:left;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}

drink.sz-med .postedBy {
  text-align:left;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  font-weight:bold;
}

img.pfpSmall{
  width: 30px;
  border-radius: 50%;
}