<!-- 

    add section for like and a comment txt box


-->

<comments>

    <section class="theirImg">
        <!-- img src - need diff class for this -->
    </section>

    <section class="theirComment">
        <div class="theirName">
            user number 2
        </div>
        <div class="commentBody">
            HELLO?! I TURNED ON CAPS LOCK AND CANT TURN IT OFF
        </div>
        <!-- <div class="postBtns">cheers & edit btns?</div> -->
    </section>

</comments>