<drink class="sz-sml">

    <section class="postImg">
        <!-- img src -->
    </section>

    <section class="postBody">
        <div class="postTitle">
            drinkName | postTitle
        </div>
        <div class="rating">
            *****
        </div>
        <div class="postTxt">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor READ MORE
        </div>
    </section>

</drink>